<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.devloveops.zeus.mapper.system.SystemRolePermissionMapper">

  <resultMap id="BaseResultMap" type="com.devloveops.zeus.domain.system.SystemPermission">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="path" jdbcType="VARCHAR" property="path" />
    <result column="component" jdbcType="VARCHAR" property="component" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="sort_order" jdbcType="INTEGER" property="sortOrder" />
    <result column="description" jdbcType="VARCHAR" property="description" />
  </resultMap>

  <insert id="insert" parameterType="Integer">
    insert into system_role_permission (role_id, permission_id) values (#{roleId,jdbcType=INTEGER}, #{permissionId,jdbcType=INTEGER})
  </insert>
  <delete id="deleteByRoleId" parameterType="Integer">
    delete from system_role_permission  where role_id=#{roleId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByRolePerm">
    delete from system_role_permission  where permission_id=#{permissionId,jdbcType=INTEGER} and role_id=#{roleId,jdbcType=INTEGER}
  </delete>
  <select id="selectByRoleId" parameterType="Integer" resultType="Integer">
    select permission_id from system_role_permission  where role_id=#{roleId,jdbcType=INTEGER}
  </select>
  <select id="selectPermissionIdByRoleId" parameterType="String" resultType="String">
    select a.name from system_permission as a, system_role as b, system_role_permission as c where a.id=c.permission_id and b.id=c.role_id and b.role_id=#{roleId,jdbcType=VARCHAR}
  </select>
  <select id="selectPermissionByRoleId" parameterType="String" resultMap="BaseResultMap">
    select a.* from system_permission as a, system_role as b, system_role_permission as c where a.id=c.permission_id and b.id=c.role_id and b.role_id=#{roleId,jdbcType=VARCHAR}
  </select>
</mapper>